<html>
  <head>
    <title>ss</title>
  </head>
  <body>
    <div>
      <h1>Sign Up</h1>

      <form action="/signup" method="post">
        <input placeholder="Name" name="name" type="text" />
        <br />
        <input placeholder="password" name="password" type="password" />
        <br />
        <input placeholder="email" name="email" type="email" />
        <br />
        <input class="sub" type="submit" />
      </form>

      <a href="/login">Go back to login page</a>
    </div>
  </body>
</html>
